/* FF Meta Font */
@font-face {
  font-family: 'FF Meta VF';
  src: url(../fonts/MetaVariableDemo-Set.woff2) format('woff2');
  font-weight: 100 900;
}

/* League Mono Font */
@font-face {
	font-family: 'LeagueMono';
	src: url(../fonts/LeagueMonoVariable.ttf) format('truetype');
  font-weight: 30 200;
}

.meta {
  font-family: "FF Meta VF";
  font-size: 80px;
  font-weight: 900;
}

.league {
  font-family: "LeaugeMono";
  font-size: 80px;
  font-weight: 40;
}