@font-face {
    font-family: ReadexPro-Regular;
    src: url("../fonts/ReadexPro-Regular.ttf") format(truetype);
}

@font-face {
    font-family: ReadexPro-SemiBold;
    src: url("../fonts/ReadexPro-SemiBold.ttf") format(truetype);
}

@font-face {
    font-family: ReadexPro-Light;
    src: url("../fonts/ReadexPro-Light.ttf") format(truetype);
}

body {
    background: #3c4048;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'ReadexPro-Regular';
}

h1 {
    color:white;
    font-family: 'ReadexPro-SemiBold';
    font-size: 4em;
    padding: 20px;
}

p {
    color: white;
}
.banner {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.hero-area {
    width: 100%;
    display: flex;
    /* border: 1px solid white; */
}
#text-1 {
    width: 40vw;
    height: 100vh;
    /* border: 1px solid green; */
    text-align: center;
    vertical-align: middle;


}
.hero_img {
    width: 60vw;
    height: 100vh;
    display: block;
}


nav {
    width: fit-content;
    margin: auto;
    height: 100px;
}

.nav_item {
    width: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 20px;
    justify-content: center;
    border-radius: 16px;
    background-color: rgb(55, 55, 55);
}