body {
    background: #3c4048;
    margin-left: 40px;
    margin-right: 40px;
}
.banner {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.hero-area {
    width: 100%;
    display: flex;
    border: 1px solid white;
}
#text-1 {
    width: 40vw;
    height: 100vh;
    border: 1px solid green;


}
.hero_img {
    width: 60vw;
    height: 100vh;
    display: block;
}


nav {
    width: fit-content;
    margin: auto;
    height: 100px;
}

.nav_item {
    width: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 20px;
    justify-content: center;
    border-radius: 16px;
    background-color: rgb(55, 55, 55);
}