/* All CSS styles go here */
div {
    width: fill;
    align-items: center;
}

#shapesContainer {
    width: 1;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px 10px;
}

.square {
    width: 200px;
    height: 200px;
    background: red;
    border-style: double;
    border-width: 10px;
    border-color:white

    /* color: aquamarine; */
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: rgb(152, 213, 190);
}

.line {
    width: 0px;
    height: 600px;
    border-left: solid red 1px;
    transform: rotate(45deg);
}

.surprise {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid red;

}