.waldo {
	width: 1200px;
	height: 848px;
	background: url(../images/bg.jpg) no-repeat;
	background-size: 100%;
	position: absolute;
}

.square {
	width: 30px;
	height: 30px;
	border: solid 5px red;
	position: absolute;
	right: 75px;
	top: 405px;
}
